html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;

  .add-btn {
    margin-bottom: 20px;
    align-self: flex-start;
  }
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
}

